//DB DEtails

DB_HOST=localhost   
DB_PORT=5432
DB_USER=postgres
DB_PASS=12345
DB_NAME=dating_app_new

//Expires otp
OTP_EXPIRY_MINUTES=20
OTP_RESEND_COOLDOWN_SECONDS=30
OTP_MAX_ATTEMPTS=3
OTP_BLOCK_MINUTES=10
JWT_SECRET=6ZjlROqVttfbSPWaHXgJR5mf
JWT_EXPIRES_IN_SECONDS=604800

PORT=3000
BASE_URL=http://localhost:3000
UPLOAD_PATH=uploads